<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhan.xhanblog.repository.TCommentMapper">
  <resultMap id="BaseResultMap" type="com.xhan.xhanblog.entity.dao.TComment">
    <id column="co_id" jdbcType="BIGINT" property="coId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="parent" jdbcType="BIGINT" property="parent" />
    <result column="a_id" jdbcType="BIGINT" property="aId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="has_decent" jdbcType="BIT" property="hasDecent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    co_id, content, mail, url, ip, username, user_id, status, parent, a_id, create_time, 
    has_decent
  </sql>
  <select id="selectByExample" parameterType="com.xhan.xhanblog.entity.dao.TCommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where co_id = #{coId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_comment
    where co_id = #{coId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhan.xhanblog.entity.dao.TCommentExample">
    delete from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhan.xhanblog.entity.dao.TComment">
    <selectKey keyProperty="coId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_comment (content, mail, url, 
      ip, username, user_id, 
      status, parent, a_id, 
      create_time, has_decent)
    values (#{content,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{parent,jdbcType=BIGINT}, #{aId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{hasDecent,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xhan.xhanblog.entity.dao.TComment">
    <selectKey keyProperty="coId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="hasDecent != null">
        has_decent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDecent != null">
        #{hasDecent,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhan.xhanblog.entity.dao.TCommentExample" resultType="java.lang.Long">
    select count(*) from t_comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_comment
    <set>
      <if test="record.coId != null">
        co_id = #{record.coId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.mail != null">
        mail = #{record.mail,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.parent != null">
        parent = #{record.parent,jdbcType=BIGINT},
      </if>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hasDecent != null">
        has_decent = #{record.hasDecent,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_comment
    set co_id = #{record.coId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      mail = #{record.mail,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=VARCHAR},
      parent = #{record.parent,jdbcType=BIGINT},
      a_id = #{record.aId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      has_decent = #{record.hasDecent,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhan.xhanblog.entity.dao.TComment">
    update t_comment
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="aId != null">
        a_id = #{aId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasDecent != null">
        has_decent = #{hasDecent,jdbcType=BIT},
      </if>
    </set>
    where co_id = #{coId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhan.xhanblog.entity.dao.TComment">
    update t_comment
    set content = #{content,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      a_id = #{aId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      has_decent = #{hasDecent,jdbcType=BIT}
    where co_id = #{coId,jdbcType=BIGINT}
  </update>
</mapper>